[Desktop Entry]
Name=Ethereal
Comment=Ethereal Network Analyzer
Comment[ja]=The Ethereal ネットワーク・アナライザー
Comment[pl]=Ethereal - analizator ruchu w sieci
Icon=ethereal.png
Exec=ethereal
Terminal=0
Type=Application
