[Desktop Entry]
Name=Ethereal
Comment=Ethereal Network Analyzer
Comment[ja]=The Ethereal ネットワーク・アナライザー
Comment[pl]=Ethereal - analizator ruchu w sieci
Icon=ethereal.png
Exec=xterm -e ethereal_su
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
