[Desktop Entry]
Name=Wireshark
Comment=Wireshark Network Analyzer
Comment[ja]=The Wireshark ネットワーク・アナライザー
Comment[pl]=Wireshark - analizator ruchu w sieci
Icon=wireshark
Exec=xterm -e wireshark_su
Terminal=false
Type=Application
Categories=GTK;Network;
# vi: encoding=utf-8
